<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MySuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72c985">  <td>20/07/04 18:59:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcases.FailedPayment()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">FailedPayment</td> 
  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
<tr bgcolor="72c985">  <td>20/07/04 19:00:33</td>   <td>43977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcases.SuccessfulPayment()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">SuccessfulPayment</td> 
  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
<tr bgcolor="72c985">  <td>20/07/04 19:00:30</td>   <td>41514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testcases.afterMethod()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
<tr bgcolor="72c985">  <td>20/07/04 19:01:38</td>   <td>108856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Testcases.afterMethod()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
<tr bgcolor="8365de">  <td>20/07/04 18:59:48</td>   <td>-267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExtentReport.setUp()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
<tr bgcolor="72c985">  <td>20/07/04 19:01:38</td>   <td>109101</td> <td title="&lt;&lt;Testcases.tearDown()[pri:0, instance:com.automation.testcases.smoke.Testcases@1e079c3d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>com.automation.main.TestRunner.main()@312937834</td>   <td></td> </tr>
</table>
